{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
{# Contient la liste des étudiants avec leurs CCF ... #}
<div style="margin-top:18px;"> <!-- pour descendre le contenu de x pixels -->
    <div class="panel panel-primary">
        <div class="panel-heading"> <h3> Planning des CCF </h3> </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% if (ecrit is not null) or (tabOraux is not empty) %}
                        {% if ecrit is not null %}
                            <li class="list-group-item">
                            <p><h5>{{ecrit.date|date("d/m/Y")}}: &nbsp; Ecrit de {{ecrit.matiere}} de {{ecrit.debut|date("H:i")}} à {{ecrit.fin|date("H:i")}} en salle {{ecrit.salle1}} et {{ecrit.salle2}}</h5></p><br/>
                            </li>
                        {% endif %}
                        {% if tabOraux is not empty %}
                            <li class="list-group-item">
                                {% for oralCourant in tabOraux %} 
                                    <p><h5>{{oralCourant.date|date("d/m/Y")}}: &nbsp; Oral de {{oralCourant.matiere}} de {{oralCourant.debut|date("H:i")}} à {{oralCourant.fin|date("H:i")}} en salle {{oralCourant.salle}}</h5></p><br/> 
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% else %}  
                            <h4> Pas de CCF de prévu </h4>
                        {% endif %}  
                </ul>
            </div> 
    </div>
</div>

<a href="{{ path('btsappli_utilisateurs_accueilEtu') }}" role="button" class="btn btn-primary" type="button" style="width:140px">Retour</a>  <!--&nbsp; = espace-->

{% endblock %}
