{% trans_default_domain 'FOSUserBundle' %}

    <div class="container">
        <!-- Ligne 2 -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div style="margin-top:80px;">
                    <div class="panel panel-primary"> <!--Fenetre-->
                        <div class="panel-heading"><h3>Modifier le mot de passe</h3></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-9 col-lg-offset-1">
                                    <ul style="list-style-type:none">

                                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                                        {{ form_widget(form) }}
                                    </ul> </br>
                                </div>
                            </div>
                        <a role="button" id="Retour" class="btn btn-primary pull-left" href="{{ path('fos_user_profile_edit') }}" style="width:140px">Retour</a>
                        <button type="submit" id="_submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary pull-right" style="width:140px">Mettre à jour</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

{{ form_end(form) }}