
{% extends "::vueMere.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block contenuCentral %}

<!-- Ligne contenant la fênetre de connexion -->
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div style="margin-top:70px;">
            <div class="panel panel-primary"> <!--Fenetre-->
                <div class="panel-heading"><h4>Connexion</h4></div>
                <div class="panel-body">
                    {% if error %} <!-- Message d'erreur si id/mdp incorrects -->
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="text-center"><b>Mauvais Identifiants</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}         
                    <div class="row">
                        <div class="col-lg-9 col-lg-offset-3">
                            <ul style="list-style-type:none"> 
                                <!--Formulaire avec les champs id et mdp à remplir-->
                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /></br>
                                    <!--Champ relatif à l'id-->
                                    <label for="username">{{ 'security.login.username'|trans }}</label>
                                    <li>&nbsp;<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></br></br></li>
                                    <!--Champ relatif au mdp-->
                                    <label for="password">{{ 'security.login.password'|trans }}</label>
                                    <li>&nbsp;<input type="password" id="password" name="_password" required="required" style="top:100px" /></br></li>
                                    <!--Lien si mdp oublié-->
                                    &nbsp; &nbsp;  <a href="{{ path('fos_user_resetting_request') }}" class="primary" type="text" style="width:150px">Mot de passe oublié?</a></br></br>
                                    <!--Case à cocher "se souvenir de moi"-->
                                    &nbsp; &nbsp; <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label></br></br>
                       </div>
                    </div>
                    <!-- Ligne contenant les boutons s'inscrire et se connecter -->
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            <a href="{{ path('fos_user_registration_register') }}" role="button" class="btn btn-primary" type="button" style="width:130px">S'inscrire</a> 
                        </div>
                        <div class="col-lg-4 col-lg-offset-1">
                            <button type="submit" id="_submit" class="btn btn-primary" style="width:130px"> Se connecter </button>
                        </div>
                    </div>
                     
                                </form>
                            </ul>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock %}


{% block footer %}
            
{% endblock %}