{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
{# Contient la liste des étudiants ... #}


<div style="margin-top:18px;"> <!-- pour descendre le contenu de x pixels -->

<div class="panel panel-default">

    <div class="panel-heading">
         
         <h3> Liste des étudiants </h3> 
        <div class="row">
            <div class="col-lg-6">
                <!--debut du formulaire-->
                <form class="form-inline " action="search.php" method="get">
                  <div class="form-group">
                    <input type="text" name="q" id="q" class="form-control" style="width:333px" placeholder="Recherche..."/>
                    <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                  </div>
                </form>
                <!--fin du formulaire-->
                 
                <!--preparation de l'affichage des resultats-->
                <div id="results"></div>
                  
                  
            </div>
            <div class="col-lg-2 col-lg-offset-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        Filtrer par promotion <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu pull-right" style="width:200px">
                            <li><a href="{{ path('btsappli_utilisateurs_suiviEtudiant') }}"> Tous </a></li>
                            <li role="separator" class="divider"></li>
                            {% for promoCourante in tabPromotions %}
                                <li><a href="{{ path('btsappli_utilisateurs_suiviEtudiantFiltrer', {'idPromo':promoCourante.id}) }}"> {{promoCourante.anneePromo}} </a></li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
            
        <!-- bouton de filtrage qui affiche toutes les promotions existantes -->
    </div>
        
        <!-- Création du tableau contenant la liste des étudiants -->
        <div class="table-responsive">
            <table class="table table-striped table-hover">
               
                <!-- Création de la première ligne contenant le nom de chaque colonne -->
                <tr class="info" align="center">
                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Email</td>
                    <td>Telephone</td>
                    <td>Adresse</td>
                    <td>CodePostal</td>
                    <td>Ville</td>
                    <td>Promotion</td>
                    <td>Modif Promotion</td>
                </tr>
                
                <!-- Affichage de tous les étudiants -->
                {% for userCourant in tabUser %} 
                
                    <tr align="center">
                        <td>{{userCourant.nom}}</td>
                        <td>{{userCourant.prenom}}</td>
                        <td>{{userCourant.email}}</td>
                        <td>{{userCourant.telephone}}</td>
                        <td>{{userCourant.adresse}}</td>
                        <td>{{userCourant.codePostal}}</td>
                        <td>{{userCourant.ville}}</td>
                        
                        {% if  userCourant.promotion is not null %}
                        <td>{{userCourant.promotion.anneePromo}}</td> 
                        {% else %} 
                        <td></td> 
                        {% endif %}
                        
                        <td>
                        <!-- bouton pour changer la promotion -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Promotion <span class="caret"></span>
                                </button>
                            <ul class="dropdown-menu dropdown-menu-left">
                                {% for promoCourante in tabPromotions %}
                                    {% if loop.index %}
                                        <li><a href="{{ path('btsappli_utilisateurs_setPromo', {'id':userCourant.id, 'idPromo':promoCourante.id}) }}">{{promoCourante.anneePromo}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            </div>
                        </td>
                    </tr> 
                {% endfor %}
                
            </table>
        </div>
</div>
</div>
<a href="{{ path('btsappli_utilisateurs_accueilAdmin') }}" role="button" class="btn btn-primary pull-left" type="button" style="width:140px">Retour</a>  <!--&nbsp; = espace-->

{% endblock %}
