{# src/btsappli/UserBundle/Resources/views/User/validerInscriptions.html.twig #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
{# Contient la liste des étudiants ... #}


<div style="margin-top:18px;"> <!-- pour descendre le contenu de x pixels -->
<div class="col-lg-12 ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3> Valider les inscriptions </h3> 
            <div class="row">
                <div class="col-lg-6">
                    <p>Promotions en cours : 
                        {% for promotionCourante in tabPromotions %}
                            {{ promotionCourante.anneePromo }} {% if not loop.last %} - {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="col-lg-1 col-lg-offset-4">
                    <a type="button" class="btn btn-success " style="width:140px;"  href="{{ path('btsappli_utilisateurs_ajoutPromo') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> Ajouter</a>
                </div>
            </div>
        </div>
        
        <!-- Création du tableau contenant la liste des demandes-->
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <!-- Création de la première ligne contenant le nom de chaque colonne -->
                <thead>
                <tr><td></td><td></td><td></td></tr>
                <tr class="info" align="center">
                    <td style="width:200px"><b>Nom</b></td>
                    <td style="width:200px"><b>Prenom</b></td>
                    <td style="width:350px"><b>Email</b></td>
                    <td style="width:200px"><b>Choisir promotion</b></td>
                    <td style="width:200px"><b>Promotion</b></td>
                    <td style="width:250px"><b>Validation&nbsp;|&nbsp;Suppression</b></td>
                </tr>
                </thead>
                <!-- Affichage de tous les demandes -->
                {% for userCourant in tabUser %} 
                    <tr align="center">
                        <td>{{userCourant.nom}}</td>
                        <td>{{userCourant.prenom}}</td>
                        <td>{{userCourant.email}}</td>
                        <td>
                            <!-- bouton pour changer la promotion -->
                            {% if loop.last %}
                                <div class="btn-group dropup">
            				{% else %}
                                <div class="btn-group">
                            {% endif %}
                                    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Promotion <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        {% for promoCourante in tabPromotions %}
                                            <li><a href="{{ path('btsappli_utilisateurs_setPromoInscription', {'id':userCourant.id, 'idPromo':promoCourante.id}) }}">
                                                {{promoCourante.anneePromo}}
                                            </a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                        </td>
                        <td>
                            {% if userCourant.promotion is null %}
                                -
                            {% else %}
                                {{userCourant.promotion.anneePromo}}
                            {% endif %}
                        </td>
                        <td>
                            {% if userCourant.promotion is not null %}
                                <a type="button" role="button" class="btn btn-success"  href="{{ path('btsappli_utilisateurs_accepterInscription', {'id':userCourant.id}) }}"><span class="glyphicon glyphicon-ok" aria-hidden="true" ></span></a>
                            {% else %} 
                                <button type="button" role="button" class="btn btn-success disabled"><span class="glyphicon glyphicon-ok" aria-hidden="true" ></span></button>
                            {% endif %} 
                                <a type="button" class="btn btn-danger"  href="{{ path('btsappli_utilisateurs_refuserInscriptionValidation', {'id':userCourant.id}) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            <a href="{{ path('btsappli_utilisateurs_accueilAdmin') }}" role="button" class="btn btn-primary" type="button" style="width:140px"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</a>  <!--&nbsp; = espace-->
        </div>
    </div>
</div>

{% endblock %}
