
{% trans_default_domain 'FOSUserBundle' %}


<!-- Ligne contenant la fênetre -->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div style="margin-top:18px;">
            <div class="panel panel-primary"> <!--Fenetre-->
                <div class="panel-heading"><h3>Modifier le profil</h3></div>
                <div class="panel-body">
                <!--Bouton d'accès à "changer de mdp"-->
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-info pull-right" role="button" >Changer de mot de passe</a><br><br>
                    <div class="row">
                        <div class="col-lg-9 col-lg-offset-1">
                        <!--Formulaire pour modifier des champs liés au profil-->
                            <ul style="list-style-type:none">
                                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                                {{ form_widget(form) }}
                            </ul> </br>
                        </div>
                    </div>
                    <!--Bouton "Retour" pour revenir à l'accueil sans modification-->
                    <a role="button" id="Retour" class="btn btn-primary pull-left" href="{{ path('btsappli_utilisateurs_accueilEtu') }}" style="width:140px">Retour</a>
                    <!--Bouton de validation pour mettre à jour la BD avec les modifications-->
                    <button type="submit" id="_submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary pull-right" style="width:140px">Mettre à jour</button>
                </div>
            </div>
        </div> 
    </div>
</div>


{{ form_end(form) }}