{# src/btsappli/StagesBundle/Resources/views/Stages/ajoutStageTuteur.html.twig #}

{# Vue qui permet à l'étudiant d'ajouter un tuteur à son stage #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
<div class="col-lg-8 col-lg-offset-2">
    <div style="margin-top:80px;">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Ajout d'un stage (étape 2/2)</h3></div>
            <div class="panel-body">
                <h4>Entreprise {{entreprise.nom}}</h4>
                <form method="post" {{ form_enctype(formulaireStageTut) }}>
                    {{ form_widget(formulaireStageTut) }}
                    <a href="{{ path('btsappli_stages_voirEntreprise', {'id':entreprise.id}) }}" role="button" class="btn btn-primary" type="button" style="width:140px"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</a>
                    <button type="submit" value="Valider" class="btn btn-primary pull-right" style="width:140px">Suivant <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                </form>
                <p><br>Tuteur introuvable ?</p>
                <a href="{{ path('btsappli_stages_tuteurFormulaire', {'id':entreprise.id}) }}" role="button" class="btn btn-primary" type="button" style="width:140px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter tuteur</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}