{# src/btsappli/StagesBundle/Resources/views/Stages/vueStage.html.twig #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
<div class="col-lg-10 col-lg-offset-1">
	<div style="margin-top:18px;">
	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Récapitulatif de ton stage :</h3>
	        <div class="row">
		        <div class="col-lg-4 ">
			        {% if stage.etatConvention == 1 %}
		                <h4>(Convention <b>Non Validée</b>)</h4>
		            {% endif %}
		            {% if stage.etatConvention == 2 %}
		                <h4>(Convention <b>Validée</b>)</h4>
		            {% endif %}
		            {% if stage.etatConvention == 3 %}
		                <h4>(Convention <b>Signée</b>)</h4>
		            {% endif %}
		        </div>
	            <div class="col-lg-3 col-lg-offset-5">
	            	<h5>Du <b>{{ stage.dateDebut|date("d/m/Y") }}</b> au <b>{{ stage.dateFin|date("d/m/Y") }}</b></h5>
	            </div>
	        </div>
	        </div>
		        <div class="panel-body">
		        	<div class="row">
		        		<div class="col-lg-6">
				            <h4>Entreprise <b><em>{{ stage.entreprise.nom }}</em></b> :</h4>
				            <dl class="dl-horizontal">
						        <dt>Représentant</dt><dd>{{ stage.entreprise.representant }}</dd><br/>
						        
						        <dt>Adresse<dt><dd>{{ stage.entreprise.adresse }}</dd>
						        <dt>Code postal</dt><dd>{{ stage.entreprise.codePostal }}</dd>
						        <dt>Ville<dt><dd>{{ stage.entreprise.ville }}</dd>
						        <dt>Pays</dt><dd>{{ stage.entreprise.pays }}</dd><br/>
						        
						        <dt>Adresse email<dt><dd>{{ stage.entreprise.adresseMail }}</dd>
						        <dt>Téléphone</dt><dd>0{{ stage.entreprise.telephone }}</dd>
						        <dt>Fax</dt><dd>0{{ stage.entreprise.fax }}</dd><br/>
						        
						        <dt>Service d'accueil</dt><dd>{{ stage.entreprise.serviceAccueil }}</dd><br/>
						        
						        <dt>Description</dt><dd>{{ stage.entreprise.description }}</dd>
				            </dl>
		        		</div>
			     		<div class="col-lg-6">
				            <h4>Tuteur <b><em>{{ stage.tuteur.nom }} {{ stage.tuteur.prenom }}</em></b> :</h4>
				            <dl class="dl-horizontal">
						        
						        <dt>Email</dt><dd>{{ stage.tuteur.adresseMail }}</dd>
						        <dt>Téléphone<dt><dd>0{{ stage.tuteur.telephone }}</dd>
						        <dt>Fonctions</dt><dd>{{ stage.tuteur.fonction }}</dd><br/>
						        
						        <dt>Infos Complémentaires<dt><dd>{{ stage.tuteur.infosComplementaires }}</dd>
				            </dl>
			     		</div>
					</div>
				{#	<a href="{{ path('btsappli_stages_generate_pdf') }}" role="button" class="btn btn-primary" type="button" style="width:140px">Imprimer</a> #}
					<a href="#" role="button" class="btn btn-primary pull-left" type="button" >Générer la convention</a>
		            <a href="{{ path('btsappli_utilisateurs_accueilEtu') }}" role="button" class="btn btn-primary pull-right" type="button" style="width:140px">Accueil</a>
		        </div>
	    </div>
	</div>  
</div>
{% endblock %}