{# src/btsappli/StagesBundle/Resources/views/Stages/vueStage.html.twig #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
<div class="col-lg-10 col-lg-offset-1">
	<div style="margin-top:18px;">
	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Récapitulatif de ton stage :</h3></div>
		        <div class="panel-body">
		        	<div class="row">
		        		<div class="col-lg-6">
				            <h4>Entreprise <em>{{ stage.entreprise.nom }}</em> :</h4>
				            <dl class="dl-horizontal">
						        <dt>Représentant</dt><dd>{{ stage.entreprise.representant }}</dd><br/>
						        
						        <dt>Adresse<dt><dd>{{ stage.entreprise.adresse }}</dd>
						        <dt>Code postal</dt><dd>{{ stage.entreprise.codePostal }}</dd>
						        <dt>Ville<dt><dd>{{ stage.entreprise.ville }}</dd>
						        <dt>Pays</dt><dd>{{ stage.entreprise.pays }}</dd><br/>
						        
						        <dt>Adresse email<dt><dd>{{ stage.entreprise.adresseMail }}</dd>
						        <dt>Téléphone</dt><dd>{{ stage.entreprise.telephone }}</dd>
						        <dt>Fax</dt><dd>{{ stage.entreprise.fax }}</dd><br/>
						        
						        <dt>Service d'accueil</dt><dd>{{ stage.entreprise.serviceAccueil }}</dd><br/>
						        
						        <dt>Description</dt><dd>{{ stage.entreprise.description }}</dd>
				            </dl>
		        		</div>
			     		<div class="col-lg-6">
				            <h4>Tuteur :</h4>
				            <dl class="dl-horizontal">
						        <dt>Nom</dt><dd>{{ stage.tuteur.nom }}</dd>
						        <dt>Prénom<dt><dd>{{ stage.tuteur.prenom }}</dd>
						        <dt>Email</dt><dd>{{ stage.tuteur.adresseMail }}</dd>
						        <dt>Téléphone<dt><dd>{{ stage.tuteur.telephone }}</dd>
						        <dt>Fonctions</dt><dd>{{ stage.tuteur.fonction }}</dd>
						        <dt>Infos Complémentaires<dt><dd>{{ stage.tuteur.infosComplementaires }}</dd>
				            </dl>
			     		</div>
					</div>
		            <a href="{{ path('btsappli_utilisateurs_accueilEtu') }}" role="button" class="btn btn-primary pull-right" type="button" style="width:140px">Accueil</a>
		        </div>
	    </div>
	</div>  
</div>
{% endblock %}