{# src/btsappli/StagesBundle/Resources/views/Stages/vueStage.html.twig #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Récapitulatif de ton stage :</h4></div>
        <div class="panel-body">
            <h5>Entreprise <i>{{ user.entreprise.nom }}</i> :</h5>
            <ul>
		        <li><b>Représentant :</b> {{ user.entreprise.representant }}</li>
		        <li><b>Adresse :</b> {{ user.entreprise.adresse }}</li>
		        <li><b>Code postal :</b> {{ user.entreprise.codePostal }}</li>
		        <li><b>Ville :</b> {{ user.entreprise.ville }}</li>
		        <li><b>Pays :</b> {{ user.entreprise.pays }}</li>
		        <li><b>Adresse email :</b> {{ user.entreprise.adresseMail }}</li>
		        <li><b>Téléphone :</b> {{ user.entreprise.telephone }}</li>
		        <li><b>Fax :</b> {{ user.entreprise.fax }}</li>
		        <li><b>Service d'accueil :</b> {{ user.entreprise.serviceAccueil }}</li>
		        <li><b>Description :</b> {{ user.entreprise.description }}</li>
            </ul>
            <h5>Tuteur :</h5>
            <ul>
		        <li><b>Nom :</b> {{ user.tuteur.nom }}</li>
		        <li><b>Prénom :</b> {{ user.tuteur.prenom }}</li>
		        <li><b>Email :</b> {{ user.tuteur.adresseMail }}</li>
		        <li><b>Téléphone :</b> {{ user.tuteur.telephone }}</li>
		        <li><b>Fonctions :</b> {{ user.tuteur.fonction }}</li>
		        <li><b>Infos Complémentaires :</b> {{ user.tuteur.infosComplementaires }}</li>
		    </ul>
            <a href="{{ path('btsappli_stages_menuStage') }}" role="button" class="btn btn-primary" type="button">Terminer</a>
        </div>
    </div>
</div>
{% endblock %}